* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: sans-serif;
    background: #000000;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    padding-inline: 20px;
    font-size: 16px;
}

main {
    position: relative;
}

#canvas {
    width: 100%;
    aspect-ratio: 1/1;
    max-width: 800px;
    border-radius: 5px;
    margin-top: 10px;

}

h1 {
    margin-block: 15px;
    font-size: clamp(16px, 4vw, 36px);

}

img, svg {
    display: block;
    width: 100%;
    height: 100%;
}

.btn-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(16px, 4vw, 36px);
    padding: 5px 10px;
    border-radius: 5px;
    border: 4px solid #ad9921;
    color: white;
    background: #000000;
    cursor: pointer;
    animation: flash 1s infinite;
    z-index: 10;
}

.info {
    margin-block: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 575px;
    font-size: clamp(8px, 4vw, 18px);

}

.buttons {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.btn-ctrl {
    background-color: #000;
    border: 2px solid #613abd;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: border-color ease-in-out 250ms;
}

.btn-ctrl svg {
    width: 2rem;
    stroke-width: 2;
    stroke: #613abd;
    transition: all ease-in-out 250ms;
}

.btn-ctrl:hover {
    border-color: #ffffff;
}

.btn-ctrl:hover svg, .btn-ctrl:active svg {
    stroke: #ffffff;
}

@keyframes flash {
    0% {
        border-color: #ad9921;
    }
    50% {
        border-color: #613abd;
    }
    100% {
        border-color: #ad9921;
    }
}

@media screen and (max-width: 768px) {
    body {
        padding: 5px;
    }
    .buttons {
        display: flex;
    }
}
